import("chopsticks")
import("rJava")
export("FitGMLD")
export("GeneDrops")
export("read.pedfile")
export("write.pedfile")
export("write.parfile")
export(".Last.lib")
importFrom("methods", "is")
importFrom("utils", "download.file", "read.table")
useDynLib("rJPSGCS", .registration = TRUE)
